<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jj.dao.mapper.DemoMapper">
	
	<resultMap type="com.jj.dao.domain.Demo" id="demo">    
    <id column="id" property="id"/>    
    <result column="name" property="name"/>    
    <result column="mobile" property="mobile"/>    
    <result column="age" property="age"/>    
	</resultMap> 
	
	<select id="findByNameAndMobile" resultMap="demo">
		select
			*
		from
			demo
		where
			name = #{name}
			and
			mobile = #{mobile}	
	</select>
	
	<update id="update">
		update
			demo
		set
			name = #{name},
			mobile = #{mobile},	
			age = #{age}
		where
			id = #{id}
	</update>
	
	<delete id="delete">
		delete from demo where id=#{id}
	</delete>
	
	<insert id="add">
		insert into demo (name,mobile,age)
		values(#{name}, #{mobile}, #{age})
	</insert>
	
</mapper>